In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

%matplotlib inline
base_path = "C:\\Contents\\Kaggle\\amazon-employee-access-challenge\\"

df = pd.read_csv(base_path+"train.csv")

df.head()

,ACTION,RESOURCE,MGR_ID,ROLE_ROLLUP_1,ROLE_ROLLUP_2,ROLE_DEPTNAME,ROLE_TITLE,ROLE_FAMILY_DESC,ROLE_FAMILY,ROLE_CODE
0,1,39353,85475,117961,118300,123472,117905,117906,290919,117908
1,1,17183,1540,117961,118343,123125,118536,118536,308574,118539
2,1,36724,14457,118219,118220,117884,117879,267952,19721,117880
3,1,36135,5396,117961,118343,119993,118321,240983,290919,118322
4,1,42680,5905,117929,117930,119569,119323,123932,19793,119325

In [2]:
df.isnull().values.any()

False

In [3]:
from sklearn.model_selection import train_test_split

feature_col_names = [col for col in df.columns if col != 'ACTION']
predicted_class_names = ['ACTION']

X = df[feature_col_names].values
Y = df[predicted_class_names].values
split_test_size = 0.3

X_train, X_test, y_train, y_test = train_test_split(X,Y, test_size=split_test_size, random_state = 42)

In [4]:
from xgboost.sklearn import XGBClassifier
#Classifier
xgb = XGBClassifier()                  
xgb.fit(X_train, y_train.ravel())

XGBClassifier(base_score=0.5, booster=None, colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints=None,
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints=None,
              n_estimators=100, n_jobs=0, num_parallel_tree=1,
              objective='binary:logistic', random_state=0, reg_alpha=0,
              reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method=None,
              validate_parameters=False, verbosity=None)

In [5]:
xgb_predict_train = xgb.predict(X_train)
xgb_predict_test = xgb.predict(X_test)

from sklearn import metrics

print("Accuracy training : {0:.4f}".format(metrics.accuracy_score(y_train,xgb_predict_train )))
print("Accuracy testing : {0:.4f}".format(metrics.accuracy_score(y_test,xgb_predict_test )))
print('**********Confusion metrics**************')
print("{}".format(metrics.confusion_matrix(y_test, xgb_predict_test)))
print('**********Classsification report**************')
print("{}".format(metrics.classification_report(y_test, xgb_predict_test)))

Accuracy training : 0.9659
Accuracy testing : 0.9495
**********Confusion metrics**************
[[ 127  430]
 [  66 9208]]
**********Classsification report**************
              precision    recall  f1-score   support

           0       0.66      0.23      0.34       557
           1       0.96      0.99      0.97      9274

    accuracy                           0.95      9831
   macro avg       0.81      0.61      0.66      9831
weighted avg       0.94      0.95      0.94      9831